.see-details-button {
    color: #073246;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-details-button .icon {
    width: 25px;
    margin-left: 5px;
}