.banner-container {
    position: relative;
    text-align: center;
    color: white;
}

.elon-title {
    padding: 15px;
    border-radius: 15px;
    text-align: left;
    position: absolute;
    top: 34%;
    left: 21%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 550px) {
    .elon-title {
        margin-left: 10px;
        font-size: 15px;
    }
}