.banner-container {
    position: relative;
    text-align: center;
    color: white;
}

.elon-title {
    padding: 15px;
    border-radius: 15px;
    text-align: left;
    position: absolute;
    top: 34%;
    left: 21%;
    transform: translate(-50%, -50%);
}

/* 
.elon-info {
    padding: 15px;
    border-radius: 15px;
    text-align: left;
    position: absolute;
    top: 54%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.elon-info:hover {
    background-color: #1b1b1b;
} */

@media only screen and (max-width: 550px) {
    .elon-title {
        margin-left: 10px;
        font-size: 15px;
    }
}